html,
body {
  height: 100%;
  background-color: antiquewhite;
  /* background-color: rgb(243, 201, 146); */
  /* background-color: rgb(152, 88, 58); */
  /* background-color: rgb(198, 139, 89); */
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#greeting {
  color: rgb(102, 47, 21);
  /* color: white; */
  /* color: rgb(152, 88, 58);  */
  /* color: rgb(64, 34, 24); dark brown */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#floatingFirst {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#floatingLast {
  border-radius: 0;
}

.form-signin input[type="email"] {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#cow {
  border-radius: 25%;
  width: 100px;
}

#passfail {
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

#cow-button {
  background-color: rgb(152, 88, 58);
  /* background-color: rgb(102, 47, 21); */
  /* background-color: rgb(64, 34, 24); */
}

#cow-button:hover {
  border-color: rgb(102, 47, 21);
  background-color: rgb(102, 47, 21);
}

.copy {
  color: whitesmoke;
}